@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", monospace;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  background-color: #b3b3b3;
  border-bottom: 1px solid #424242;
}

h1 {
  font-size: 40pt;
}

main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b3b3b3;
}

main>div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

footer {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: #b3b3b3;
  border-top: 1px solid #424242;
}

#slidergrid {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  min-width: 300px;
  width: 100%;
  max-width: 500px;
}

.slider-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.slider-row> :nth-child(2) {
  flex: 1;
}

.slider-label {
  font-size: 20px;
  color: hsl(0, 0%, 20%);
  font-weight: 600;
}

.slider-value {
  font-size: 16px;
  color: hsl(0, 0%, 20%);
  text-align: left;
}

.content-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#button-container {
  display: flex;
  gap: 50px;
  margin-left: 20px;
  margin-top: 20px;
}

#button-generate,
#button-clear {
  background-color: white;
  color: #424242;
  height: 50px;
  width: 180px;
  border: 2px solid #424242;
  border-radius: 8px;
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
  transition: all 0.2s ease;
}

#button-generate:hover {
  background-color: #424242;
  color: white;
}

#button-clear:hover {
  background-color: lightcoral;
  color: white;
}
